:root {
    --primary-color: #F9E000;
    --nav-font-color: #434343;
    --light-text-color: #808080;
    --header-font-family: 'Marcellus', sans-serif;
    --text-font-family: 'Merriweather', serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_page_header{
    color: #fff;
    justify-content: space-between;
    background-color: #262727;
    font-size: .8rem;
    padding: .8rem .6rem;
    font-family: var(--text-font-family);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.5s ease; 
  }
  
  /* General page's header's navbar */
  .pg_navbar{
    background-color: transparent;
  }

  .pg_hr{
    color: #fff;
  }

  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  @keyframes changeBackground {
    from {
      background-color: rgba(255, 255, 255, 0.5);
    }
    to {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  
  
  .navbar-nav .nav-item {
    margin-left: 10rem;
  }

  .navbar-nav .nav-item a{
    color: var(--nav-font-color);
    font-size: .9rem;
    font-family: var(--header-font-family);
  }
  
  .navbar-nav .nav-item a:hover{
    background-color: var(--primary-color);
  }
  
  .navbar-nav .nav-item a:active{
    margin-bottom: var(--primary-color);
  }

  /* Nav bar toggler */

  .navbar-toggler{
    border: none;
  }
  
  .navbar-toggler:focus{
    box-shadow: unset;
  }

  
  /* Footer */
  footer{
    background-color: #262727;
  }

  footer .newsletter{
    color: #fff;
    font-family: var(--header-font-family);
  }

  footer .newsletter input{
    width: 50%; 
    margin-right: 0.3rem;
  }

  footer .newsletter input::placeholder{
    font-family: var(--text-font-family);
  }

  footer .newsletter button{
    background-color: var(--primary-color);
    color: #645A00;
    border: none;
    text-transform: uppercase;
    font-family: var(--text-font-family);
  }

  .footer_links{
    color: #fff;
    justify-content: space-evenly;
    letter-spacing: 2px;
    line-height: 1.3rem;
  }

  .footer_links .info{
    margin-left: -4rem;
  }

  .footer_links .info div{
    margin-right: 3rem;
  }
  .footer_links h4{
    font-size: 1em;
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: var(--header-font-family);
  }

  .footer_links .quick-links ul li {
    list-style: none;
  }

  .footer_links .quick-links ul li a,
  .footer_links .social-links a ,
  .footer_links .address p,
  .footer_links .reservations p{
    list-style: none;
    text-decoration: none;
    font-size: small;
    letter-spacing: 2px;
    color: var(--light-text-color);
    font-family: var(--text-font-family);
  }

  .font-size-sm-md {
    font-size: 1rem; /* Adjust the size as needed */
}

/* Center-align the footer contents for screens below 920px */
@media (max-width: 920px) {
    .info {
        flex-direction: column;
        text-align: center;
        justify-content: center;align-items: center;
    }
    .footer_links .logo{
        display: none;
    }

    .fsz-sm-md {
        font-size: .7rem;
        text-align: center;
        flex-direction: column;
        line-height: 1.3rem;
    }
}

/* Login and Signup html */
.logo {
  /* max-width: 150px; */
  margin-top: 30x;
}

.image-overlay {
  position: relative;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/2957461/pexels-photo-2957461.jpeg?auto=compress&cs=tinysrgb');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover; 
}

/*  for page's header */
.pg_image-overlay{
  position: relative;
  overflow: hidden;
  background-image: url('https://demo2.wpopal.com/rominal/wp-content/uploads/2021/04/breadcrumb.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 65vh;

  /* Styles for the overlay */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
}
}

.image-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Adjust the overlay color and opacity */
  z-index: 1;
}



.neumorphic-card {
  margin-top: 4rem;
  background: #FFF;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(236,240,243, 0.8), 
                5px 5px 15px rgba(236,240,243, 0.9);
  width: 80%;
  height: auto;
}

.auth_font{
  font-family: var(--header-font-family);
  letter-spacing: .3rem;
}

.auth_img img{
  height: auto;
  width: 20rem;
}
.lgr input{
  margin-bottom: 2px;
  border-color: var(--primary-color);
  background-color: #F7F8FA;
  height: 1.9rem;
}

.lgr input:focus{
  border-color: var(--primary-color);
  box-shadow: none;
}

.auth-card label{
  font-family: var(--text-font-family);
  color: var(--light-text-color);
  font-size: small;
}

.auth-card .button input{
  background-color: var(--primary-color);
  font-size: .9rem;
}


/* Styling for rooms page */
.breadcrumb-item + .breadcrumb-item::before {
  content: '>'; 
  color: white; 
  padding: 0 5px; 
}
.room-card {
  width: 30%;
  position: relative;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
}

.room-card .room-image {
  position: relative;
  overflow: hidden;
}

.room-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.room-card .bottom-right .price {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.room-card .room-details, 
.room-card .bottom-right:last-child,
.room-card .bottom-left {
  padding: 5px 10px;
}

.room-details p {
  margin: 0;
  font-size: 14px;
}

.stars {
  color: #F9E000;
}

.room-card a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .room-card {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .room-card {
    flex-basis: 100%;
  }
}