{% extends "user/base.html" %}
{% block title %}
Room-details - Miramar
{% endblock title %}

<!-- For alerts -->
{% include "alerts.html" %}
{% block content %}
<div class="container mt-5">

    <div class="room-deets">
        <h1 class="room-name auth_font">{{ room.room_name }}</h1>
        <div class="hotel-info">
            <div class="info-item d-flex">
                <i class="fas fa-users mx-1"></i>
                <p class="mx-1">{{ room.max_occupancy }} People</p>
            </div>
            <div class="info-item d-flex">
                <i class="fas fa-square mx-1"></i>
                <p class="mx-1">{{ room.width }}</p>
            </div>
        </div>        
    </div>    

    <div class="room-carousel owl-carousel">
        <div><img src="{{ room.image1 }}" alt="Image 1"></div>
        <div><img src="{{ room.image2 }}" alt="Image 2"></div>
        <div><img src="{{ room.image3 }}" alt="Image 3"></div>
    </div>

    <div class="room-deets mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="room-description deets_bg">
                    <h2 class="ff_marce mb-5">Description</h2>
                    <p class="normal_deets_font">{{ room.description }} <br>
                    </p>
                </div>

                <div class="amenities-box deets_bg mb-5 mt-5">
                    <h2 class="ff_marce mb-5">Amenities</h2>
                    <div class="amenities row">
                        <div class="col-md-4 d-flex">
                            <i class="fa-solid fa-wifi mx-2"></i>
                            <p class="mx-2">Fast Free Wi-Fi</p>
                        </div>
                        <div class="col-md-4 d-flex">
                            <i class="fa-solid fa-tv mx-2"></i>  
                            <p class="mx-2">Flat-screen TV</p>
                        </div>
                        <div class="col-md-4 d-flex">
                            <i class="fa-solid fa-mug-hot mx-2"></i>
                            <p class="mx-2">Tea Maker</p>
                        </div>
                        <div class="col-md-4 d-flex">
                            <i class="fa-solid fa-bed  mx-2"></i>
                            <p class="mx-2">King sized bed</p>
                        </div>
                        <div class="col-md-4 d-flex">
                            <i class="fa-solid fa-water-ladder mx-2"></i> 
                            <p class="mx-2">Swimming pool</p>
                        </div>
                        <div class="col-md-4 d-flex">
                            <i class="fa-solid fa-map mx-2"></i>
                            <p class="mx-2">City Map</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="booking-form card mb-3">
                    <div class="card-top">
                        <p class="price tal">from <br> <span class="font-sz-sm-md" style="font-size: 2.5rem">{{ room.price }}</span>/night</p>
                    </div>
                    <div class="card-body">
                        <div class="mb-4 tal">
                            <h4 class="ff_marce">Booking Form</h4>
                        </div>
                        <form action="{{ url_for('room.book_room', room_id=room.id) }}" method="POST">
                            <div class="form-group">
                                <i class="fa-regular fa-calendar-days"></i>
                                <input type="text" class="flatpickr-input" id="customDatePicker" name="date_of_arrival"  placeholder="Arrival Date">
                            </div>
                            <div class="form-group">
                                <i class="fa-regular fa-calendar-days"></i>
                                <input type="text" class="flatpickr-input" id="customDatePicker" name="date_of_departure" placeholder="Departure Date">
                            </div>
                            
                            <div class="extra-services mt-5">
                                <hr>
                                <h3 class="tal ff_marce">Extra Services</h3>
                                <ol class="list-unstyled tal">
                                    <li>Cleaning  &nbsp;&nbsp; __________________  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $20</li>
                                    <li>Room Service &nbsp;&nbsp;  ______________   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$15</li>
                                    <li>Airport Shuttle  &nbsp;&nbsp; _______________  &nbsp;&nbsp; $30</li>
                                </ol>
                            </div>   
                            
                            <div class="text-center button mt-5">
                                <input type="submit" class="form-control" id="submit" name="book" value="BOOK NOW">
                            </div>
                        </form>              
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    // Initialize Owl Carousel
    $('.room-carousel').owlCarousel({
    items: 1, 
    loop: true, 
    autoplay: false, 
    nav: true,
    dots: false,
});

$(function () {
        $("#arrivalDate").datepicker();
        $("#departureDate").datepicker();
    });

    flatpickr("#customDatePicker", {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        minDate: "today",
        // defaultDate: "today",
        allowInput: true,
        // theme: "airbnb",
        // inline:true,
    });
</script>
{% endblock %}