{% extends "page_header.html" %}

{% block title %}
Rooms - Miriamar
{% endblock title %}

{% block parent_content %}
<div class="container-fluid ">
    <div class="row overlay justify-content-evenly mt-3 mb-3">
      {% for room in rooms %}
        <div class="col-lg-4 col-md-6 col-sm-12 room-card">
          <a href="{{ url_for('user.room_deets', room_id=room.id) }}">
            <div class="room-image">
              <img src="{{ room.image1 }}" alt="Room Image">
              <div class="bottom-left">
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>

              <div class="bottom-right">
                <div class="price">$ {{ room.price }}</div>
                <div class="" style="color: black;"><h1>{{ room.room_name }}</h1></div>
              </div>
            </div>
          </a>

          <div class="room-details">
            <p class="room-width">{{ room.width }} . {{ room.view }}</p>
          </div>
        </div>
        {% endfor %} 

    </div>
</div>

{% endblock parent_content%}