{% extends "admin/base.html" %}

{% block content %}

<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="d-flex justify-content-between align-items-center flex-wrap">
			<div class="input-group contacts-search mb-4">
				<input type="text" class="form-control" placeholder="Search here...">
				<span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
			</div>
			<div class="mb-4">
				<a href="javascript:void(0);" class="btn btn-primary btn-rounded fs-18">+ New Contact</a>
			</div>
		</div>	
		<div class="row">
			<div class="col-xl-12">
				<div class="row">
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic1.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Jakob Gouse</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Highspeed Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic2.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Gretchen Aminoff</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Redblue Studios</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic3.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic4.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Zaire Lubin</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Highspeed Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic4.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Zaire Lubin</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Highspeed Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic3.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic4.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic2.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic4.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic3.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic6.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
						<div class="card contact-bx item-content">
							<div class="card-header border-0">
								<div class="action-dropdown">
									<div class="dropdown ">
										<div class="btn-link" data-bs-toggle="dropdown">
											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
												<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
											</svg>
										</div>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body user-profile">
								<div class="image-bx">
									<img src="{{ url_for('static', filename='admin/images/pic5.jpg') }}" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
									<span class="active"></span>
								</div>
								<div class="media-body user-meta-info">
									<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
									<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
									<ul>
										<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="progect-pagination d-flex justify-content-between align-items-center flex-wrap mt-3">
				<h4 class="mb-3">Showing 10 from 160 data</h4>
				<ul class="pagination mb-3">
					<li class="page-item page-indicator">
						<a class="page-link" href="javascript:void(0)">
							<i class="fas fa-angle-double-left me-2"></i>Previous</a>
					</li>
					<li class="page-item">
						<a class=" active" href="javascript:void(0)">1</a>
						<a class="" href="javascript:void(0)">2</a>
						<a class="" href="javascript:void(0)">3</a>
						<a class="" href="javascript:void(0)">4</a>
					</li>
					<li class="page-item page-indicator">
						<a class="page-link" href="javascript:void(0)">
						Next<i class="fas fa-angle-double-right ms-2"></i></a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
</div>

{% endblock %}