{% extends "admin/base.html" %}

{% block content %}

<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/2363808/pexels-photo-2363808.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">Bonorum et Malorum</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-empty"></i></li>
									<li><i class="fa fa-star-half-empty"></i></li>
								</ul>
								<span class="price">$761.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/1520619/pexels-photo-1520619.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">Canorum et dalorum</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<span class="price">$159.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/2467558/pexels-photo-2467558.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">BBow polka-dot</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<span class="price">$357.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/70441/pexels-photo-70441.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">Rio 360 Expaumn</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-empty"></i></li>
									<li><i class="fa fa-star-half-empty"></i></li>
								</ul>
								<span class="price">$654.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/2670273/pexels-photo-2670273.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">Beveli Hills</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<span class="price">$369.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/2363807/pexels-photo-2363807.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">Ei De Rio</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<span class="price">$245.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/2227787/pexels-photo-2227787.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">De Las Pas</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<span class="price">$364.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="https://images.pexels.com/photos/3225531/pexels-photo-3225531.jpeg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="ecom-product-detail.html">La Flare De Co</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-empty"></i></li>
									<li><i class="fa fa-star-half-empty"></i></li>
								</ul>
								<span class="price">$548.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}