{% extends "admin/base.html" %} 
{% block content %}

<div class="content-body">
  <div class="container-fluid">
    <button data-modal-id="roomModal" id="addNewRoomBtn">+ Add new room</button>

    <div data-modal-id="roomsModal" id="modal2">
      <!-- Modal content -->
      <div class="modal-content-2">
        <form action="" method="" >
        <legend>Add rooms details below</legend>
        <button class="btn-close">X</button>
        <label for="image1">Image 1 URL</label>
        <input type="text" name="image1" placeholder="Enter Image url.." />
        <label for="image2">Image 2 URL</label>
        <input type="text" name="image2" placeholder="Enter Image url.." />
        <label for="image3">Image 3 URL</label>
        <input type="text" name="image3" placeholder="Enter Image url.." />
        <label for="description">Description</label>
        <input type="text" name="description" placeholder="Enter hotel description.." />
        <label for="max_occupancy">Max capacity</label>
        <input type="number" name="max_occupancy" placeholder="Enter the max number of guest" />
        <label for="view">View</label>
        <input type="text" name="view" placeholder="Enter the view" />
        <label for="status">Availability </label>
        <input name="status" class="item" type="text" value="availabe"/>
        <label for="price">price</label>
        <input type="number" name="price" />
        <button class="btn" type="submit">Add room</button>
      </form>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3201761/pexels-photo-3201761.jpeg"
                      alt=""
                    />
                  </div>
                </div>


                  <!-- Add a unique ID to each modal -->
                  <!-- The Modal -->
              <div data-modal-id="imgModal1" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <form action="" method="">
                <legend>Change the hotel images</legend>
                <button class="btn-close">X</button>
                <label for="image1">Image 1 URL</label>
                <input type="text" name="image1" placeholder="Enter Image url.." />
                <label for="image2">Image 2 URL</label>
                <input type="text" name="image2" placeholder="Enter Image url.." />
                <label for="image3">Image 3 URL</label>
                <input type="text" name="image3" placeholder="Enter Image url.." />
                <button class="btn" type="submit">Save changes</button>
                </form>
              </div>
        
            </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <div class="editBtns">
                    <button data-modal-id="imgModal1" class="editImgs">Edit Images</button>
                    <button data-modal-id="editRooms1"  class="editRooms">Edit room details</button>
                  </div>

                  <form action="" method="" class="roomDeet">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability</label>
                  <input name="status" class="item" type="text" disabled value="availabe" />
                  <label for="max_occupancy">Max-Capacity :</label>
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <label for="view">View :</label>
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    placeholder="Lake view"
                  />
                  <label for="width">Width :</label>
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >Enter description...</textarea>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--2nd card-->

      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3754594/pexels-photo-3754594.jpeg"
                      alt=""
                    />
                  </div>
                </div>
                         <!--The Modal -->
            <div data-modal-id="imgModal2" class="modal">

               <!--Modal content -->
              <div class="modal-content">
                <legend>Change the hotel images</legend>
                <form action="" method="">
                <button class="btn-close">X</button>
                <label for="image1">Image 1 URL</label>
                <input type="text" name="image1" placeholder="Enter Image url.." />
                <label for="image2">Image 2 URL</label>
                <input type="text" name="image2" placeholder="Enter Image url.." />
                <label for="image3">Image 3 URL</label>
                <input type="text" name="image3" placeholder="Enter Image url.." />
                <button class="btn" type="submit">Save changes</button>
                </form>
              </div>
        
            </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <div class="editBtns">
                    <button data-modal-id="imgModal1" class="editImgs">Edit Images</button>
                    <button data-modal-id="editRooms1"  class="editRooms">Edit room details</button>
                  </div>
                  <form action="" method="" class="roomDeet">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status" >Availability </label>
                  <input name="status" type="text" disabled value="availabe" />
                  <label for="max_occupancy">Max-Capacity :</label>
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <label for="view">View :</label>
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    placeholder="Lake view"
                  />
                  <label for="width">Width :</label>
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    placeholder="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >Enter description...</textarea
                  >
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   

    </div>
  </div>
</div>


      <!-- <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3754594/pexels-photo-3754594.jpeg"
                      alt=""
                    />
                  </div>
                </div>
                <button data-modal-id="imgModal2" class="editImgs">Edit Images</button>
                         The Modal 
            <div data-modal-id="imgModal2" class="modal">

               Modal content 
              <div class="modal-content">
                <legend>Change the hotel images</legend>
                <button class="btn-close">X</button>
                <label for="image1">Image 1 URL</label>
                <input type="text" name="image1" placeholder="Enter Image url.." />
                <label for="image2">Image 2 URL</label>
                <input type="text" name="image2" placeholder="Enter Image url.." />
                <label for="image3">Image 3 URL</label>
                <input type="text" name="image3" placeholder="Enter Image url.." />
                <button class="btn" type="submit">Save changes</button>
              </div>
        
            </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/6434630/pexels-photo-6434630.jpeg"
                      alt=""
                    />
                  </div>
                </div>
                <button id="editImgs" class="editImgs">Edit Images</button>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/6394567/pexels-photo-6394567.jpeg"
                      alt=""
                    />
                  </div>
                </div>
                <button id="editImgs" class="editImgs">Edit Images</button>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/6394559/pexels-photo-6394559.jpeg"
                      alt=""
                    />
                  </div> 
                </div>
                <button id="editImgs" class="editImgs">Edit Images</button>
                   The Modal 
            <div id="imgModal" class="modal">

               Modal content 
              <div class="modal-content">
                <legend>Change the hotel images</legend>
                <button class="btn-close">X</button>
                <label for="image1">Image 1 URL</label>
                <input type="text" name="image1" placeholder="Enter Image url.." />
                <label for="image2">Image 2 URL</label>
                <input type="text" name="image2" placeholder="Enter Image url.." />
                <label for="image3">Image 3 URL</label>
                <input type="text" name="image3" placeholder="Enter Image url.." />
                <button class="btn" type="submit">Save changes</button>
              </div>
        
            </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
				  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3554424/pexels-photo-3554424.jpeg"
                      alt=""
                    />
                  </div>
                </div>
                <button id="editImgs"  class="editImgs">Edit Images</button>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <h4>
                    <a href="ecom-product-detail.html"
                      >Solid Women's V-neck Dark T-Shirt</a
                    >
                  </h4>
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p class="price">$600.00</p>
                  </div>
                  <p>
                    Availability:
                    <span class="item">
                      In stock <i class="fa fa-check-circle text-success"></i
                    ></span>
                  </p>
                  <p>Product code: <span class="item">0405689</span></p>
                  <p>Brand: <span class="item">Lee</span></p>
                  <p class="text-content">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words.
                  </p>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div> -->


{% block customJs %}<script src="{{ url_for('static', filename='admin/js/edit-rooms-info.js') }}"></script>{% endblock customJs %}
 {% endblock %}
