{% extends "admin/base.html" %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3201761/pexels-photo-3201761.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3754594/pexels-photo-3754594.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/6434630/pexels-photo-6434630.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/6394567/pexels-photo-6394567.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
                  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/6394559/pexels-photo-6394559.jpeg"
                      alt=""
                    />
					<div class="edit_con"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                  </div> 
                </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <input
                    type="text"
                    class="room_name"
                    name="room_name"
                    value="Solid Women's V-neck Dark T-Shirt"
                    disabled
                  />
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="dollar_sign"
                      >$<input
                        type="number"
                        name="price"
                        class="price"
                        value="480.00"
                        disabled
                    /></span>
                  </div>
                  <label for="status">Availability </label>:
                  <input name="status" class="item" type="checkbox" disabled />
				  <label for="max_occupancy"> Max-Capacity </label>:
                  <input
                    type="number"
                    name="max_occupancy"
                    class="minor_room_detail"
                    disabled
                    value="0"
                  />
                  <input
                    type="text"
                    name="view"
                    class="minor_room_details"
                    disabled
                    value="Lake view"
                  />
                  <input
                    type="text"
                    name="width"
                    class="minor_room_detail"
                    disabled
                    value="50 sq2"
                  />
                  <textarea
                    disabled
                    name="description"
                    class="text-content"
                    rows="5"
                    cols="50"
                  >
 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-md-5 col-xxl-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <img
                      class="img-fluid"
                      src="https://images.pexels.com/photos/3554424/pexels-photo-3554424.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xxl-12">
                <div class="new-arrival-content position-relative">
                  <h4>
                    <a href="ecom-product-detail.html"
                      >Solid Women's V-neck Dark T-Shirt</a
                    >
                  </h4>
                  <div class="comment-review star-rating">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="review-text">(34 reviews) / </span
                    ><a
                      class="product-review"
                      href=""
                      data-bs-toggle="modal"
                      data-bs-target="#reviewModal"
                      >Write a review?</a
                    >
                    <p class="price">$600.00</p>
                  </div>
                  <p>
                    Availability:
                    <span class="item">
                      In stock <i class="fa fa-check-circle text-success"></i
                    ></span>
                  </p>
                  <p>Product code: <span class="item">0405689</span></p>
                  <p>Brand: <span class="item">Lee</span></p>
                  <p class="text-content">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

	  <!-- The Modal -->
<div id="imgModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
	  <span class="close">&times;</span>
	  <label for="image1">Image 1 URL</label>
	  <input type="text" name="image1" placeholder="Enter Image url.." />
	  <label for="image2">Image 2 URL</label>
	  <input type="text" name="image2" placeholder="Enter Image url.." />
	  <label for="image3">Image 3 URL</label>
	  <input type="text" name="image3" placeholder="Enter Image url.." />
	</div>
  
  </div>


{% block customJs %}
<script src="{{ url_for('static', filename='admin/js/edit-rooms-info.js') }}"></script>
{% endblock customJs %} {% endblock %}
