{% extends "admin/base.html" %}

{% block content %}

<div class="content-body">
	<div class="container-fluid">
		
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Email</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Compose</a></li>
			</ol>
		</div>
		
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">

						<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
							<div class="toolbar mb-4" role="toolbar">
								<div class="btn-group mb-1">
									<button type="button" class="btn btn-primary light px-3"><i class="fa fa-archive"></i></button>
									<button type="button" class="btn btn-primary light px-3"><i class="fa fa-exclamation-circle"></i></button>
									<button type="button" class="btn btn-primary light px-3"><i class="fa fa-trash"></i></button>
								</div>
								
							</div>
							<div class="compose-content">
								<form method="POST" action="{{ url_for('admin.email_compose') }}">
									{{ form.hidden_tag() }}
									<div class="mb-3">
										<input name="recipient" type="text" 
										class="form-control bg-transparent" placeholder=" To:">
									</div>
									<div class="mb-3">
										<input type="text" 
										name="subject"
										class="form-control bg-transparent" placeholder=" Subject:">
									</div>
									<div class="mb-3">
										<textarea id="email-compose-editor" class="textarea_editor form-control bg-transparent" rows="15" placeholder="Enter text ..."></textarea>
									</div>
								</form>
								<h5 class="mb-4"><i class="fa fa-paperclip"></i> Attatchment</h5>
								<form action="#" class="dropzone">
									<div class="fallback">
										<input name="file" type="file" multiple="">
									</div>
								</form>
							</div>
							<div class="text-start mt-4 mb-3">
								<button class="btn btn-primary btn-sl-sm me-2" type="button"><span class="me-2"><i class="fa fa-paper-plane"></i></span>Send</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}