{% extends "admin/base.html" %}

{% block content %}

<div class="content-body">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Gallery</h4>
					</div>
					<div class="card-body pb-1">
						<div id="lightgallery" class="row">
							<a href="https://images.pexels.com/photos/6782567/pexels-photo-6782567.jpeg" data-exthumbimage="https://images.pexels.com/photos/6782567/pexels-photo-6782567.jpeg" data-src="https://images.pexels.com/photos/6782567/pexels-photo-6782567.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/6782567/pexels-photo-6782567.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/6198666/pexels-photo-6198666.jpeg" data-exthumbimage="https://images.pexels.com/photos/6198666/pexels-photo-6198666.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/6198666/pexels-photo-6198666.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/1457845/pexels-photo-1457845.jpeg" data-exthumbimage="https://images.pexels.com/photos/1457845/pexels-photo-1457845.jpeg" data-src="https://images.pexels.com/photos/1457845/pexels-photo-1457845.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/1457845/pexels-photo-1457845.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/1743229/pexels-photo-1743229.jpeg" data-exthumbimage="https://images.pexels.com/photos/1743229/pexels-photo-1743229.jpeg" data-src="https://images.pexels.com/photos/1743229/pexels-photo-1743229.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/1743229/pexels-photo-1743229.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/6758770/pexels-photo-6758770.jpeg" data-exthumbimage="https://images.pexels.com/photos/6758770/pexels-photo-6758770.jpeg" data-src="https://images.pexels.com/photos/6758770/pexels-photo-6758770.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/6758770/pexels-photo-6758770.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/7031731/pexels-photo-7031731.jpeg" data-exthumbimage="https://images.pexels.com/photos/7031731/pexels-photo-7031731.jpeg" data-src="https://images.pexels.com/photos/7031731/pexels-photo-7031731.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/7031731/pexels-photo-7031731.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/6890413/pexels-photo-6890413.jpeg" data-exthumbimage="https://images.pexels.com/photos/6890413/pexels-photo-6890413.jpeg" data-src="https://images.pexels.com/photos/6890413/pexels-photo-6890413.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/6890413/pexels-photo-6890413.jpeg" alt="" style="width:100%;">
							</a>
							<a href="https://images.pexels.com/photos/6782577/pexels-photo-6782577.jpeg" data-exthumbimage="https://images.pexels.com/photos/6782577/pexels-photo-6782577.jpeg" data-src="https://images.pexels.com/photos/6782577/pexels-photo-6782577.jpeg" class="col-lg-3 col-md-6 mb-4">
								<img src="https://images.pexels.com/photos/6782577/pexels-photo-6782577.jpeg" alt="" style="width:100%;">
							</a>
						</div>
					</div>
				</div>
				<!-- /# card -->
			</div>
		</div>
	</div>
</div>
{% endblock %}