{% if "user_token" in session %}
    {% if session["user_role"] == "admin" %}
        {% extends "admin/base.html" %}
    {% else %}
        {% extends "user/base.html" %}
    {% endif %}
{% else %}
    {% extends "user/base.html" %}
{% endif %}

{% block title %}
Page not found - Miriamar
{% endblock title %}

{% block customStyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='errors.css') }}">
{% endblock customStyles %}

{% block content %}


    <section class="error_404_container">
        <div class="error_bg_img"></div>
        <h1 class="text_404">404</h1>
        <span class="error_text">Oops! Page Not Found</span>
        <p class="error_text_desc">Page doesn’t exist or some other error occurred. Go to our Home page or go back to Previous page</p>

        <a href="{{ url_for('user.landing_page') }}"><button class="back_to_homepage_btn" type="button">Back To Homepage</button></a>
    </section>

{% endblock content %}