{% extends "auth_base.html" %}

{% block title %}
Login -Miramar
{% endblock title %}

<!-- For alerts -->
{% include "alerts.html" %}

{% block content %}
<div class="container justify-content-center d-flex my-5 pt-5">
    <div class="row neumorphic-card">
        <div class="col-md-6 auth_img image-overlay">
        </div>
        
        <div class="col-md-6">
                <div class=" auth-card p-4">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='user/Hotel_Black.png') }}" alt="Company Logo" class="logo img-fluid" width="100">
                    </div>
                
                    <h2 class="mb-4 mt-3 auth_font text-center">Login</h2>
                    <form class="lgr" action="{{ url_for('auth.login') }}"  method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

                        </div>
                
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                        </div>
                
                        <a href="{{ url_for('auth.request_password_reset') }}" style="color: #808080;">Forgot password?</a>
                        <div class="text-center button mt-3">
                            <input type="submit" class="form-control" id="submit" name="submit">
                        </div>
                        
                    </form>
                </div>
        </div>
    </div>
</div>


{% endblock %}
