{% extends "user/base.html" %}

{% block content %}
<div class="col-md-6 pg_image-overlay image-overlay d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="mb-4 mt-3 auth_font text-center">
        <h1 class="fs-md-18 fs-lg-24" style="color: white;position: relative;z-index: 1; font-size: 4rem">{{ page_name }}</h1>
    </div>
    <nav style="--bs-breadcrumb-divider: '>'; color: white;" aria-label="breadcrumb">
        <ol class="breadcrumb" style="color: white;position: relative;z-index: 1;">
            <li class="breadcrumb-item"><a href="{{ url_for('user.landing_page') }}" style="color: white; text-decoration: none;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: white;">{{ page_name }}</li>
        </ol>
    </nav>
</div>   

    {% block parent_content %}{% endblock parent_content %}
    <!-- I made use of it in  rooms.html in user folder, you can check it out.-->
{% endblock %}
