{% extends "auth_base.html" %}

{% block title %}
Login -Miraiamar
{% endblock title %}

<!-- For alerts -->
{% include "alerts.html" %}

{% block content %}
<div class="container justify-content-center d-flex my-5 pt-5" style="width: 50%;">
    <div class="row ">
        <div class="col-md-12 pb-5">
                <div class=" auth-card p-4">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='user/Hotel_Black.png') }}" alt="Company Logo" class="logo img-fluid" width="100">
                    </div>
                
                    <h2 class="mb-4 mt-3 auth_font text-center">Password Reset</h2>
                    <form class="lgr" action="{{ url_for('auth.reset_password', token=token) }}" method="post">
                        <div class="mb-3">
                            <label for="password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <!-- Add password confirmation fields if needed -->
                        <div class="text-center button mt-3">
                            <input type="submit" class="form-control" id="submit" name="submit" value="Reset Password">
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>


{% endblock %}
